@import "variables";
@import "modules/all";
/**
 * Partials
 */
@import "partials/all";
/**
 * Bootstrap
 */
@import "vendor/bootstrap";
/**
 * Font Awesome (it really is awesome)
 */
@import "vendor/font-awesome";
/**
 * jQuery
 */
@import "vendor/jquery";
*{
	margin:0;
	padding:0;
}
html,
body{
	width:100%;
	height:100%;
}
body{
	background:#171717 !important;
	color:#bababa !important;
	cursor:default;
	font:{
		family:'Marmelad',sans-serif !important;
		size:1.8em !important;
		weight:300 !important;
	}
	margin:0;
	padding:0;
	padding-top:50px;
	overflow:auto;
	overflow-x:hidden !important;
}
#page{
	width:100%;
}
#portfolio{
	background:#4A004A;
	opacity:0.8;
	overflow:hidden;
	text-align:center;
	h2{
		color:#d4d4d4;
	}
	.byline{
		color:#d4d4d4;
	}
}
/**
 * Copyright
 */
#copyright{
	background:#171717;
	overflow:hidden;
	padding-top:1.5em;
	p{
		color:#9f9f9f;
		font-size:0.80em;
		letter-spacing:0.20em;
		text:{
			align:center;
		}
		span{
			color:#fff;
			font-weight:bold;
			&::before{
				content:"|";
			}
		}
	}
	a{
		color:#8c8c8c;
		text-decoration:none;
	}
}
/**
 * Classes
 */
.page-header{
	margin:{
		top:0.2em !important;
		bottom:0em !important;
	}
}
.title{
	margin-bottom:1em;
	h2{
		color:#171717;
		font:{
			size:2em;
			weight:700;
		}
		letter-spacing:0.20em;
	}
	.byline{
		color:#6f6f6f;
		font:{
			size:0.90em;
			weight:400;
		}
		letter-spacing:0.15em;
	}
}
.inline{
	display:inline;
}
.wrapper{
	background:url('/img/background.png') center repeat;
	margin:0 !important;
	padding:{
		top:1em;
		left:2em;
		right:2em;
		bottom:2em;
	}
	width:100%;
}
.wrapper-small{
	padding:{
		top:.5em;
		left:2em;
		right:2em;
		bottom:1em;
	}
}
.wrapper-flat{
	padding:0em !important;
}
.wrapper-green{
	@extend .wrapper;
	background:#202A47 !important;
	color:#A18028;
}
.wrapper-large{
	padding:2em !important;
}
/**
 * Rule Rewrites
 */
ol.breadcrumb{
	background:#330533;
	li.active{
		color:#a1a1a1;
	}
}
.text-rt{
	color:#9d109e;
}
.well-dark{
	background:rgba(74,74,74,0.3) !important;
	border:none !important;
}
.punchcard{
	background:rgba(13,13,13,0.4) !important;
	border:none !important;
	text-align:left;
	h4{
		@extend .text-rt;
	}
	p{
		@extend .text-rt;
	}
	.punch-basic-no-use{
		$size:1em;
		border-radius:50%;
		display:inline-block;
		height:$size;
		width:$size;
		margin-right:.1em;
	}
	.punch{
		@extend .punch-basic-no-use;
		background:#046103;
	}
	.punch-empty{
		@extend .punch-basic-no-use;
		background:rgb(42,42,42);
	}
	.punch-proposed{
		@extend .punch-basic-no-use;
		background:rgb(140,105,7);
	}
}
input{
	outline:none !important;
	padding:3px 0px 3px 3px !important;
	margin:5px 1px 3px 0px !important;
	border:1px solid #dddddd !important;
	color:#444 !important;
}
input:focus{
	box-shadow:0 0 5px rgba(81,203,238,1) !important;
	padding:3px 0px 3px 3px !important;
	margin:5px 1px 3px 0px !important;
	border:1px solid rgba(81,203,238,1) !important;
}
details summary{
	color:#31708f !important;
}
.phone-form{
	text-align:center;
	b{
		$em:.08em;
		margin:{
			left:$em;
			right:$em;
		}
	}
}
.word-break{
	color:#31708f;
	word-break:break-all;
}
input{
	display:inline-block;
	height:3em;
	width:95%;
}
.no-margin{
	margin:0 !important;
}
div.wrapper{
	a:not(.btn),a:hover:not(.btn),a:active:not(.btn){
		color:#9d109e;
		text-decoration:none;
	}
	a:hover:not(.btn),a:active:not(.btn){
		border-bottom:1px solid #9d109e;
	}
}
::-webkit-scrollbar{
	width:.75em;
}
::-webkit-scrollbar-thumb{
	border-radius:10px;
	background:rgba(115,11,115,0.8);
	box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive{
	background:rgba(115,11,115,0.8);
}
.background-warning{
	background-color:rgba(138,109,59,0.15);
}
input{
	background-color:transparent;
	border:none !important;
	border:1px solid rgba(51,181,229,0.7) !important;
	color:#fff !important;
	display:block;
}
.inline{
	display:inline;
}
.rollover-link{
	text-align:center;
	span,a{
		border:rgba(190,190,190,0.5) solid .05em;
		color:#bababa !important;
		display:inline-block;
		font-size:5em;
		margin:0px auto;
		padding:.1em;
		transition:background-color 1s ease;
		transition:color 1s ease;
		&:hover{
			background-color:#ccc !important;
			border-bottom:rgba(190,190,190,0.5) solid .05em !important;
			color:#262626 !important;
		}
	}
}
@-webkit-keyframes hovermode{
	0%{
		background-color:transparent;
		color:#bababa;
	}
	100%{
		background-color:#ccc !important;
		color:#262626 !important;
		font-size:2em;
	}
}
blockquote{
	background:#B85652;
	border-radius:4px;
	box-sizing:border-box;
	margin-bottom:20px;
	max-width:100%;
	padding:1em 1em;
	border-left:2px solid #944542 !important;
}