body {
  cursor: default;
  padding-top: 0 !important;
  height: 100%; }

#page {
  height: 100%; }
  #page .wrapper {
    height: 100%; }
  #page div[links] {
    color: #6D0B6E;
    font-size: 1.2em; }
    #page div[links] i {
      cursor: pointer;
      font-size: 1.2em; }
  #page div[questions] {
    bottom: 5px;
    left: 0px;
    position: absolute;
    width: 100%; }
    #page div[questions] div {
      display: inline-block;
      background-color: rgba(78, 78, 78, 0.6);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid transparent;
      min-height: 2.5em;
      line-height: 2.5em;
      text-align: center;
      width: 100%; }
      #page div[questions] div span {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        text-overflow: string;
        white-space: nowrap;
        overflow-x: hidden !important; }
    #page div[questions] div[rt-current-question] {
      background-color: rgba(90, 90, 90, 0.2) !important;
      border-bottom: 1px solid #51cbee; }

form {
  text-align: left; }
  form h1 {
    color: #6D0B6E; }
  form h2 {
    color: #161616; }
  form h3 {
    font-size: 2.3em;
    right: 10%;
    position: absolute;
    top: 5%; }
  form h4 {
    color: #6D0B6E;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    right: 10%;
    top: 15%; }
  form h5 {
    display: block;
    font-size: 2.5em;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%; }
  form h6 {
    display: block;
    font-size: 2.0em;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%; }
  form label {
    font-size: 1.5em; }
  form input {
    background-color: transparent;
    border: none !important;
    border-top: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    border-bottom: 1px solid rgba(51, 181, 229, 0.7) !important;
    border-radius: 0;
    color: #fff !important;
    display: block;
    text-overflow: ellipsis; }
  form textarea {
    background-color: transparent;
    border: 1px solid rgba(51, 181, 229, 0.7) !important;
    display: block;
    height: 7em;
    width: 100%; }
  form b {
    color: red;
    visibility: hidden; }
  form p {
    color: gray; }
  form strong {
    background-color: rgba(77, 77, 77, 0.3);
    border: 3px solid #373737;
    border-radius: 10px;
    float: right;
    color: #080808;
    cursor: pointer; }

s {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  height: .5em;
  display: block; }
  s b {
    display: block;
    width: 1%;
    background: #6d0b6e;
    height: 100%; }
