.navbar{
	i{
		color:rgb(115,11,115);
	}
	$border:#2991B8;
	z-index:9001;
	li.active a{
		border-bottom:1px solid #33B5E5;
	}
	@media (min-width:$screen-md){
		.dropdown:hover .dropdown-menu{
			display:block;
		}
	}
	>div >div >ul >li{
		>a{
			border-bottom:1px solid transparent;
			&:hover{
				border-bottom:1px solid $border;
			}
		}
	}
	li.open a{
		background-color:transparent !important;
	}
	.navbar-left>li>a,
	.navbar-right>li>a{
		$w:.33em;
		padding-left:$w;
		padding-right:$w;
	}
	.dropdown-menu{
		background:#222;
		color:#ababab !important;
		li{
			a{
				background:#222 !important;
				border:{
					left:1px solid transparent;
					bottom:none;
				}
				color:#777 !important;
				padding:{
					top:.6em;
					bottom:.6em;
				}
				&:hover{
					background:#333 !important;
					border-left:1px solid $border;
					color:#fff !important;
				}
			}
		}
		.divider{
			background:#cacaca;
			color:#ababab;
		}
	}
}
.navbar-custom{
	a{
		color:#bebebe !important;
	}
}